@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    @apply text-slate-300 bg-zinc-900;
  }

}

.glitch {
  font-family: "Rubik Glitch";
}

.btn {
  @apply font-bold py-2 px-4 rounded w-fit;
}
.btn-violet {
  @apply bg-violet-500 text-white;
}
.btn-violet:hover {
  @apply bg-violet-700;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-violet-500;
}

a {
  @apply text-teal-600;
}

.input-wrp {
  @apply relative border-b-2 focus-within:border-violet-500 duration-200 flex;
}

.input-wrp.input-err {
  @apply border-red-500;

}
.input-err > input ~ label {
  @apply text-red-500;
}

.input-txt {
  @apply block w-full appearance-none focus:outline-none bg-transparent;
}

.input-txt-lbl {
  @apply absolute top-0 -z-1 origin-0 duration-200;
}

.hide-sm {
  @apply hidden sm:inline;
}

.invis-sm {
  @apply invisible sm:visible;
}

.only-sm {
  @apply sm:hidden;
}

.glow-border {
  @apply border-2 border-violet-500 rounded-lg shadow-glow p-4;
}

.glow-border-i {
  @apply border-2 border-teal-500 rounded-lg shadow-glow-i p-4;
}

.dot-collision {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
}

.dot-collision::before, .dot-collision::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-collision::before {
  left: -10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dotCollisionBefore 2s infinite ease-in;
}

.dot-collision::after {
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dotCollisionAfter 2s infinite ease-in;
  animation-delay: 1s;
}

@keyframes dotCollisionBefore {
  0%,
  50%,
  75%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-15px);
  }
}

@keyframes dotCollisionAfter {
  0%,
  50%,
  75%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
}

.bouncing {
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(15px);
  }
}

.float-away {
  animation: floatAway 3s forwards;
}

@keyframes floatAway {
  0% {
    transform: translateY(0px);
    scale: 0.9;
    opacity:1;
  }
  10% {
    transform: translateY(0px);
    scale: 1.1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-350px);
    scale: 1;
    opacity: 0;
  }
}